workflows/02-issue-triage-router.json
{
  "name": "ShipWatch: Issue Triage & Router",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "nodes": [
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000001",
      "name": "Issue Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "shipwatch-issue-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "issue-webhook",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000002",
      "name": "Filter Issue Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-opened",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "opened",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000003",
      "name": "Build Classification Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// issue-classifier-prompt.js\r\n// N8N Code node — Phase 2: Issue Triage & Routing\r\n// Receives a GitHub issue webhook payload and builds a structured AI prompt\r\n// for classification, priority assignment, and channel routing.\r\n\r\n// ── 1. Extract issue metadata from the webhook payload ───────────────────────\r\nconst payload = $input.all()[0].json.body;\r\nconst issue = payload.issue;\r\nconst repo = payload.repository.full_name;\r\n\r\nconst issueMeta = {\r\n  issue_number: issue.number,\r\n  issue_title: issue.title,\r\n  issue_body: issue.body ?? \"\",\r\n  issue_author: issue.user.login,\r\n  issue_url: issue.html_url,\r\n  existing_labels: (issue.labels ?? []).map((l) => l.name),\r\n  repo_full_name: repo,\r\n};\r\n\r\n// ── 2. System instruction ────────────────────────────────────────────────────\r\nconst system_prompt =\r\n  \"You are a senior engineering manager triaging GitHub issues. \" +\r\n  \"Classify each issue and assign a priority. \" +\r\n  \"Respond ONLY with valid JSON, no markdown fences.\";\r\n\r\n// ── 3. Build user message ────────────────────────────────────────────────────\r\nconst user_prompt = `## GitHub Issue for Triage\r\n\r\n**Issue #${issueMeta.issue_number}:** ${issueMeta.issue_title}\r\n**Author:** ${issueMeta.issue_author}\r\n**Repository:** ${issueMeta.repo_full_name}\r\n**Existing labels:** ${issueMeta.existing_labels.length > 0 ? issueMeta.existing_labels.join(\", \") : \"none\"}\r\n\r\n### Issue Body\r\n${issueMeta.issue_body || \"(empty)\"}\r\n\r\n## Classification Task\r\n\r\n1. **Classify** this issue into exactly one category:\r\n   - **bug** — something is broken or not working as expected\r\n   - **feature** — a request for new functionality or enhancement\r\n   - **question** — the author is asking for help or clarification\r\n   - **documentation** — missing, incorrect, or unclear docs\r\n   - **security** — a vulnerability, exposure, or security concern\r\n\r\n2. **Assign priority** using these definitions:\r\n   - **P0** — system down or security breach; requires immediate response\r\n   - **P1** — major functionality broken; needs fix within 24 hours\r\n   - **P2** — important but not urgent; schedule for next sprint\r\n   - **P3** — nice to have / minor improvement\r\n\r\n3. **Route** to the appropriate Slack channel:\r\n   - bug → #incidents\r\n   - security → #incidents (always P0 or P1)\r\n   - feature → #product\r\n   - question → #support\r\n   - documentation → #engineering\r\n\r\nRespond with **only** a JSON object (no markdown, no extra text) containing exactly these fields:\r\n\r\n{\r\n  \"classification\": \"bug|feature|question|documentation|security\",\r\n  \"priority\": \"P0|P1|P2|P3\",\r\n  \"reasoning\": \"1 sentence explaining the classification\",\r\n  \"suggested_labels\": [\"array of GitHub labels to apply\"],\r\n  \"route_to\": \"#channel-name based on the routing rules above\"\r\n}`;\r\n\r\n// ── 4. Return prompts + pass-through metadata ────────────────────────────────\r\nreturn [\r\n  {\r\n    json: {\r\n      system_prompt,\r\n      user_prompt,\r\n      issue_metadata: issueMeta,\r\n    },\r\n  },\r\n];\r\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000004",
      "name": "Call AI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "notes": "ANTHROPIC (active). For OpenAI: change url to https://api.openai.com/v1/chat/completions, replace x-api-key header with Authorization: Bearer $env.OPENAI_API_KEY, and use model gpt-4o-mini with system+user messages.",
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1024, messages: [{ role: 'user', content: $json.system_prompt + '\\n\\n' + $json.user_prompt }] }) }}",
        "options": {}
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000005",
      "name": "Merge AI + Metadata",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000006",
      "name": "Route & Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "jsCode": "// issue-router.js\r\n// N8N Code node — Phase 2: Issue Triage & Routing\r\n// Parses the AI classification response, determines routing, and builds\r\n// a Slack Block Kit message tailored to the target channel.\r\n\r\n// ── 1. Collect input ─────────────────────────────────────────────────────────\r\nconst input = $input.all()[0].json;\r\nconst meta = input.issue_metadata;\r\n\r\n// Extract AI text from Anthropic response format\r\nlet aiText = \"\";\r\ntry {\r\n  aiText = input.content[0].text;\r\n} catch (_) {\r\n  // fallback: the AI response may already be a flat string\r\n  aiText = typeof input.ai_response === \"string\" ? input.ai_response : JSON.stringify(input.ai_response ?? \"\");\r\n}\r\n\r\n// ── 2. Parse the AI response (tolerant of markdown fences) ───────────────────\r\nlet classification;\r\ntry {\r\n  let raw = aiText;\r\n  raw = raw.replace(/```(?:json)?\\s*/gi, \"\").replace(/```/g, \"\").trim();\r\n  classification = JSON.parse(raw);\r\n} catch (err) {\r\n  console.error(\"Failed to parse AI classification:\", err.message);\r\n\r\n  return [\r\n    {\r\n      json: {\r\n        slack_blocks: [\r\n          { type: \"header\", text: { type: \"plain_text\", text: `⚠️ Issue #${meta.issue_number}: Classification Failed`, emoji: true } },\r\n          { type: \"section\", text: { type: \"mrkdwn\", text: \"Automatic classification failed — *manual triage needed*.\" } },\r\n          { type: \"actions\", elements: [{ type: \"button\", text: { type: \"plain_text\", text: \"View Issue\", emoji: true }, url: meta.issue_url, style: \"danger\" }] },\r\n        ],\r\n        slack_text: `⚠️ Issue #${meta.issue_number} (${meta.issue_title}) — classification failed, manual triage needed: ${meta.issue_url}`,\r\n        classification: \"unknown\",\r\n        priority: \"P2\",\r\n        route_channel: \"#incidents\",\r\n        labels_to_apply: [],\r\n        ...meta,\r\n      },\r\n    },\r\n  ];\r\n}\r\n\r\n// ── 3. Determine prefix emoji and channel ────────────────────────────────────\r\nconst type = classification.classification ?? \"bug\";\r\nconst priority = classification.priority ?? \"P2\";\r\nconst channel = classification.route_to ?? \"#incidents\";\r\n\r\nconst prefixMap = {\r\n  bug: \"🐛\",\r\n  security: \"🔒\",\r\n  feature: \"💡\",\r\n  question: \"❓\",\r\n  documentation: \"📄\",\r\n};\r\nconst emoji = prefixMap[type] ?? \"📋\";\r\n\r\nconst isUrgent = (type === \"bug\" || type === \"security\") && (priority === \"P0\" || priority === \"P1\");\r\nconst urgentPrefix = isUrgent ? \"🚨 \" : \"\";\r\n\r\n// ── 4. Build Slack Block Kit blocks ──────────────────────────────────────────\r\nconst blocks = [];\r\n\r\n// Header\r\nblocks.push({\r\n  type: \"header\",\r\n  text: {\r\n    type: \"plain_text\",\r\n    text: `${urgentPrefix}${emoji} Issue #${meta.issue_number}: ${meta.issue_title}`,\r\n    emoji: true,\r\n  },\r\n});\r\n\r\n// @channel mention for P0/P1 bugs/security\r\nif (isUrgent) {\r\n  blocks.push({\r\n    type: \"section\",\r\n    text: {\r\n      type: \"mrkdwn\",\r\n      text: `<!channel> *${priority} ${type.toUpperCase()}* needs immediate attention!`,\r\n    },\r\n  });\r\n}\r\n\r\n// AI reasoning\r\nblocks.push({\r\n  type: \"section\",\r\n  text: {\r\n    type: \"mrkdwn\",\r\n    text: classification.reasoning,\r\n  },\r\n});\r\n\r\n// Metadata fields\r\nblocks.push({\r\n  type: \"section\",\r\n  fields: [\r\n    { type: \"mrkdwn\", text: `*Author:*\\n${meta.issue_author}` },\r\n    { type: \"mrkdwn\", text: `*Classification:*\\n${emoji} ${type}` },\r\n    { type: \"mrkdwn\", text: `*Priority:*\\n${priority}` },\r\n    { type: \"mrkdwn\", text: `*Routed to:*\\n${channel}` },\r\n  ],\r\n});\r\n\r\n// Suggested labels\r\nconst labels = classification.suggested_labels ?? [];\r\nif (labels.length > 0) {\r\n  blocks.push({\r\n    type: \"context\",\r\n    elements: [\r\n      {\r\n        type: \"mrkdwn\",\r\n        text: `🏷️ *Labels:* ${labels.map((l) => \"`\" + l + \"`\").join(\"  \")}`,\r\n      },\r\n    ],\r\n  });\r\n}\r\n\r\n// Divider + action button\r\nblocks.push({ type: \"divider\" });\r\nblocks.push({\r\n  type: \"actions\",\r\n  elements: [\r\n    {\r\n      type: \"button\",\r\n      text: { type: \"plain_text\", text: \"View Issue\", emoji: true },\r\n      url: meta.issue_url,\r\n      style: isUrgent ? \"danger\" : \"primary\",\r\n    },\r\n  ],\r\n});\r\n\r\n// ── 5. Plain-text fallback ───────────────────────────────────────────────────\r\nconst slack_text = `${urgentPrefix}${emoji} Issue #${meta.issue_number} (${meta.issue_title}) — ${type} ${priority} → ${channel}: ${meta.issue_url}`;\r\n\r\n// ── 6. Return everything downstream nodes need ──────────────────────────────\r\nreturn [\r\n  {\r\n    json: {\r\n      slack_blocks: blocks,\r\n      slack_text,\r\n      classification: type,\r\n      priority,\r\n      route_channel: channel,\r\n      labels_to_apply: labels,\r\n      reasoning: classification.reasoning,\r\n      raw_ai_response: classification,\r\n      // Pass through issue metadata for Supabase insert\r\n      issue_number: meta.issue_number,\r\n      issue_title: meta.issue_title,\r\n      issue_author: meta.issue_author,\r\n      issue_url: meta.issue_url,\r\n      repo_full_name: meta.repo_full_name,\r\n      ai_model_used: input.model ?? \"unknown\",\r\n    },\r\n  },\r\n];\r\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000007",
      "name": "Apply GitHub Labels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json.repo_full_name }}/issues/{{ $json.issue_number }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ labels: $json.labels_to_apply }) }}",
        "options": {}
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000008",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1780,
        300
      ],
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "incidents",
              "value": "={{ $json.route_channel }}",
              "operation": "equals",
              "value2": "#incidents"
            },
            {
              "outputKey": "product",
              "value": "={{ $json.route_channel }}",
              "operation": "equals",
              "value2": "#product"
            },
            {
              "outputKey": "support",
              "value": "={{ $json.route_channel }}",
              "operation": "equals",
              "value2": "#support"
            }
          ],
          "fallbackOutput": "extra"
        },
        "dataType": "string",
        "value1": "={{ $json.route_channel }}",
        "options": {}
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000009",
      "name": "Alert: Incidents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_INCIDENTS }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ blocks: $json.slack_blocks, text: $json.slack_text }) }}",
        "options": {}
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000010",
      "name": "Alert: Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_PRODUCT }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ blocks: $json.slack_blocks, text: $json.slack_text }) }}",
        "options": {}
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000011",
      "name": "Alert: Support",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_SUPPORT }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ blocks: $json.slack_blocks, text: $json.slack_text }) }}",
        "options": {}
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000012",
      "name": "Alert: Engineering",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        700
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_ENGINEERING }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ blocks: $json.slack_blocks, text: $json.slack_text }) }}",
        "options": {}
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000013",
      "name": "Is P0 or P1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        560
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-p0",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "P0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-p1",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "P1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000014",
      "name": "Escalate Critical Issue",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2060,
        560
      ],
      "parameters": {
        "fromEmail": "={{ $env.SMTP_USER }}",
        "toEmail": "={{ $env.ESCALATION_EMAIL }}",
        "subject": "=🚨 ShipWatch {{ $json.priority }}: {{ $json.issue_title }}",
        "emailType": "html",
        "html": "=<h2>🚨 {{ $json.priority }} Issue Escalation</h2>\n<table style=\"border-collapse:collapse;font-family:sans-serif;\">\n  <tr><td style=\"padding:4px 12px;font-weight:bold;\">Issue</td><td style=\"padding:4px 12px;\">#{{ $json.issue_number }}: {{ $json.issue_title }}</td></tr>\n  <tr><td style=\"padding:4px 12px;font-weight:bold;\">Author</td><td style=\"padding:4px 12px;\">{{ $json.issue_author }}</td></tr>\n  <tr><td style=\"padding:4px 12px;font-weight:bold;\">Classification</td><td style=\"padding:4px 12px;\">{{ $json.classification }}</td></tr>\n  <tr><td style=\"padding:4px 12px;font-weight:bold;\">Priority</td><td style=\"padding:4px 12px;\">{{ $json.priority }}</td></tr>\n  <tr><td style=\"padding:4px 12px;font-weight:bold;\">Routed to</td><td style=\"padding:4px 12px;\">{{ $json.route_channel }}</td></tr>\n  <tr><td style=\"padding:4px 12px;font-weight:bold;\">Reasoning</td><td style=\"padding:4px 12px;\">{{ $json.reasoning }}</td></tr>\n</table>\n<p><a href=\"{{ $json.issue_url }}\">View Issue on GitHub →</a></p>",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "smtp-credential-id",
          "name": "SMTP"
        }
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000015",
      "name": "Store Classification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/issue_classifications' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ github_issue_number: $json.issue_number, github_repo: $json.repo_full_name, issue_title: $json.issue_title, issue_author: $json.issue_author, classification: $json.classification, priority: $json.priority, routed_to: $json.route_channel, labels_applied: $json.labels_to_apply, raw_ai_response: $json.raw_ai_response }) }}",
        "options": {}
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000016",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2560,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"classified\"}",
        "options": {}
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000017",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        700
      ],
      "parameters": {}
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000018",
      "name": "Build Error Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        700
      ],
      "parameters": {
        "jsCode": "const error = $input.all()[0].json;\nconst msg = error.execution?.error?.message ?? \"Unknown error\";\nconst executionId = error.execution?.id ?? \"N/A\";\nreturn [{\n  json: {\n    text: \"⚠️ *ShipWatch: Issue triage failed*\\nExecution: \" + executionId + \"\\nError: \" + msg\n  }\n}];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "d5a8f1b0-2001-4000-8000-000000000019",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        700
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_INCIDENTS }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Issue Webhook": {
      "main": [
        [
          {
            "node": "Filter Issue Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Issue Action": {
      "main": [
        [
          {
            "node": "Build Classification Prompt",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Classification Prompt": {
      "main": [
        [
          {
            "node": "Call AI API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge AI + Metadata",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call AI API": {
      "main": [
        [
          {
            "node": "Merge AI + Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge AI + Metadata": {
      "main": [
        [
          {
            "node": "Route & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route & Format": {
      "main": [
        [
          {
            "node": "Apply GitHub Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply GitHub Labels": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is P0 or P1?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Alert: Incidents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert: Product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert: Support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert: Engineering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is P0 or P1?": {
      "main": [
        [
          {
            "node": "Escalate Critical Issue",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Store Classification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Build Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Message": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}